// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	// Background colors (Фонові кольори):
	// =================================================================
		 --bg-black:#101010;
		 --bg-grey:#2C2D31;
	// Text colors (Текстові кольори):
	// =================================================================
		 --text-main:#F8F8F8;
		 --text-green:#52FFE0;
	// =================================================================
}
